<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDS22Bm4MW_jKLGRBIWkEg2OX1oE7hpWy0</string>
	<key>GCM_SENDER_ID</key>
	<string>796961064682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.health.VitalSurge</string>
	<key>PROJECT_ID</key>
	<string>vitalsurge-cf12b</string>
	<key>STORAGE_BUCKET</key>
	<string>vitalsurge-cf12b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796961064682:ios:32ef2a99b267cfa6aef993</string>
</dict>
</plist>